name: Basic Training Workflow

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Print Hello
      run: echo "Hello da, GitHub Actions started!"

    - name: Show current directory
      run: pwd

    - name: List files
      run: ls -la
