name: Cloudflare SSH Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Cloudflared
      run: |
        sudo apt-get update
        sudo apt-get install curl -y
        curl -L https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64 \
          -o cloudflared
        sudo mv cloudflared /usr/local/bin/cloudflared
        sudo chmod +x /usr/local/bin/cloudflared
        cloudflared --version

    - name: Setup SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa

    - name: Test Cloudflare SSH Connection
      run: |
        ssh -o StrictHostKeyChecking=no \
            -o ProxyCommand="cloudflared access ssh --hostname ${{ secrets.SSH_HOST }}" \
            ${{ secrets.SSH_USER }}@localhost "echo CF-SSH-CONNECTED"

    - name: Deploy App
      run: |
        ssh -o StrictHostKeyChecking=no \
            -o ProxyCommand="cloudflared access ssh --hostname ${{ secrets.SSH_HOST }}" \
            ${{ secrets.SSH_USER }}@localhost "
              cd /home/dani/myapp &&
              git pull &&
              bash deploy.sh
            "

